# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDE/editor settings
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

#data files
data/ml-32m

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

notebooks/svd_model.pkl
